<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="./internal-nlog.log">


  <variable name="layout" value="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${mdc:item=Host}|${mdc:item=Db}|${message} ${exception}"/>

  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="logfile" fileName="./logs/collector.log" createDirs="true"
            maxArchiveFiles="10" archiveNumbering="Date" archiveEvery="Day"
            layout="${layout}" />

    <target xsi:type="Console" name="console" layout="${layout}" />

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Info" writeTo="logfile,console" />
  </rules>
</nlog>