[Unit]
Description=performance data collector for MongoDB instances
Documentation=http://github.com/marcanpilami/mongodb-collector
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/mongodb-agent/Collector /etc/mongodb-agent/mongodb-agent.conf
EnvironmentFile=-/etc/sysconfig/mongodb-agent
WorkingDirectory=/opt/mongodb-agent
Restart=on-failure
User=collector

[Install]
WantedBy=multi-user.target
