[Unit]
Description=web publication of performance on MongoDB instances
Documentation=http://github.com/marcanpilami/mongodb-collector
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=${dotnetPath} /opt/mongodb-collector/Publisher/Publisher.dll /etc/mongodb-collector/mongodb-collector-publisher.conf
EnvironmentFile=-/etc/sysconfig/mongodb-publisher
Restart=on-failure
WorkingDirectory=/opt/mongodb-collector/Publisher
User=collector

[Install]
WantedBy=multi-user.target
